* {
    box-sizing: border-box;
}

body {
    background-color: #2d2d2d;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.counters{
    display: flex;
    flex-direction: row;
}
.author {
    display: flex;
    justify-content: center; 
    border-radius: 50%;
    align-items: center;
  }
  .fa-linkedin {
    color: #0077B5; /* Set the color to LinkedIn's official blue color */
}
.fa-instagram {
    color: #E4405F; /* Set the color to red */
}
.fa-facebook {
    color: #1877F2; /* Set the color to Facebook's official blue color */
}

.profile-img {
    border-radius: 50%;
    overflow: hidden;
    height: 80px;
    width: 80px;
    position: relative;
  }
  
  .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid transparent;
    border-radius: 50%;
    animation: rotateBorder 5s linear infinite;
  }
  
  @keyframes rotateBorder {
    0% {
      transform: rotate(0deg);
      border-color: #ff0000; /* Adjust the color as needed */
    }
    100% {
      transform: rotate(360deg);
      border-color: #00ff00; /* Adjust the color as needed */
    }
  }
  
.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}
.counter {
    font-size: 60px;
    margin-top: 10px;
}
@media (max-width:580px) {
    body {
        flex-direction: column;
    }
}