
* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color: #333;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size:  0.875rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    min-block-size: 100vh;
    display: grid;
    place-items: center;
}

.grid {
    inline-size: 90%;
    margin-inline: auto;
    max-inline-size: 20rem;
    display: grid;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.icon {
    block-size: 1em;
    display: inline-block;
    fill: var(--iconFill);
    inline-size: 1em;
    vertical-align: middle;
}

a {
    color: #eee;
    outline: 0;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: underline;
}

input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
}

textarea {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
    resize: none;
}

select,
option {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
}

input[type="submit"] {
    cursor: pointer;
}

textarea,
select,
option,
input[type="submit"] {
    inline-size: 100%;
    border-radius: 0.25rem;
    padding: 1rem;
}

textarea,
select,
option {
    background-color: #3b4148;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

textarea:focus,
textarea:hover {
    background-color: #434a52;
}

input[type="submit"] {
    background-color: #d75821;
    color: #eee;
    font-weight: 700;
    text-transform: uppercase;
}

input[type="submit"]:focus,
input[type="submit"]:hover {
    background-color: #d75821;
}


img {
    max-width: 100%;
    max-height: 100%;
}